# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1

/configure.scan

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.deps/
config.h
config.h.in
config.log
config.status
config/
libtool
Makefile
autoscan.log

*~

src/.deps/
src/Makefile
src/klang

*.log
*.trs
/test-driver

/test/test_nothing
/test/test_sample1
/test/test_lexer
/test/test_lexer_fail
